<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowAllPatient</servlet-name>
        <servlet-class>Servlet.ServletShowAllPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowDiaPatient</servlet-name>
        <servlet-class>Servlet.ServletShowDiaPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>Servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowDataOfPatient</servlet-name>
        <servlet-class>Servlet.ServletShowDataOfPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowGraph</servlet-name>
        <servlet-class>Servlet.ServletShowGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowGraphAbnormal</servlet-name>
        <servlet-class>Servlet.ServletShowGraphAbnormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSentNotification</servlet-name>
        <servlet-class>Servlet.ServletSentNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShowGraphRead</servlet-name>
        <servlet-class>Servlet.ServletShowGraphRead</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowAllPatient</servlet-name>
        <url-pattern>/ServletShowAllPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowDiaPatient</servlet-name>
        <url-pattern>/ServletShowDiaPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowDataOfPatient</servlet-name>
        <url-pattern>/ServletShowDataOfPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowGraph</servlet-name>
        <url-pattern>/ServletShowGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowGraphAbnormal</servlet-name>
        <url-pattern>/ServletShowGraphAbnormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSentNotification</servlet-name>
        <url-pattern>/ServletSentNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletShowGraphRead</servlet-name>
        <url-pattern>/ServletShowGraphRead</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
